
<div id="title-content">
    <h3> <strong>Data Science | Android Developer</strong> </h3>
</div>

<div id="bio-content">
    <p>Hi, I am <span id="name-content"></span>. As a self taught developer and a statistic freak with an engineering background, there are four things that I am passionate about: Software Development, Data Science, Technical writing and Teaching. It seems that these domain areas are broad but they are all connected in what I do. Below you can find my personal projects and accomplishments of my ongoing lifelong development journey.</p>

</div>

<div id="android-summary">
    <p>
        After completing my MBA last 2014 that triggers my fascination with data, I embarked on software development. I already know a lot about R programmming back then but I need to somehow know how to be able to have a product that gives insights into the hands of the user.
        With this in mind, I developed more than 4 android apps. The first one is the Our Lady Of Porta Vaga app. It technically mimmicks a prayer booklet. This is followed by the BRI Baker's Percentage app that provides a baker's percent calculator for bakers. This caters to english and spanish speaking audiences. You can find these two below. The remaining apps are not published.</p>

</div>

<div id="kaggle-summary">
    <p>
        Transitioning into data science platforms like <a href="https://www.kaggle.com">Kaggle.com</a> that provides data science competitions marked a pivotal shift in my statistical journey. Prior to 2015, my focus has been only on traditional statistics. After 2025, I geared towards the practical application of machine learning, deep learning, and AI. Helping me grow in these areas are the intensive Kaggle competitions. These events substantially accelerated my technical growth as the competition's leaderboard ranking provides an objective benchmark to gauge my skills against a global field of practitioners.
    </p>
    <p>
         Throughout this journey, I have consistently competed solo, managing the entire pipeline from feature engineering to final ensembles. This approach has allowed me to secure several notable rankings on the Private Leaderboards, confirming the efficacy of my methodologies in real-world predictive modeling. </p>
</div>