
<div id="title-content">
    <p>Technical Writer | Android Developer | Data Science </p>
</div>

<div id="bio-content">
    <p>Hi, I am Calvin Pabelonio. As a self taught developer and a statistic freak with an engineering background, there are four things that I am passionate about: Software Development, Data Science, Technical writing and Teaching. It seems that these domain areas are broad. But if you look at where the intersection is, you can find my core interest. </p>
    <p>
    </p>
</div>